/* line 6, ../sass/main-styles.scss */
header#main-header {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background: url("../img/header-image.jpg");
  background-position: center bottom;
  background-attachment: fixed;
  background-size: 1500px 1000px;
}
/* line 20, ../sass/main-styles.scss */
header#main-header::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 4444;
}
/* line 31, ../sass/main-styles.scss */
header#main-header img {
  height: auto;
  max-width: 100%;
}
/* line 36, ../sass/main-styles.scss */
header#main-header #profile-image {
  position: absolute;
  bottom: -100px;
  padding: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 10px solid #fff;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 5555;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
/* line 51, ../sass/main-styles.scss */
header#main-header #profile-image img {
  height: auto;
  width: 100%;
}
/* line 57, ../sass/main-styles.scss */
header#main-header h1.banner-title {
  z-index: 5555;
  font-size: 5em;
  color: #bf4040;
  background: rgba(255, 255, 255, 0.8);
  font-weight: bold;
  padding: 0.5em 0;
  text-align: center;
  text-decoration: uppercase;
  position: absolute;
  width: 60%;
  top: 150px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* line 75, ../sass/main-styles.scss */
#main-nav {
  background: #fff;
  z-index: 9999;
}
/* line 78, ../sass/main-styles.scss */
#main-nav li a {
  color: #999;
}
/* line 84, ../sass/main-styles.scss */
#main-nav li.active a {
  background: #ccc;
}
